<template>
  <v-card height="100%">
    <v-card-title>
      <span class=" font-weight-bold display-1">{{ page.title }}</span>
    </v-card-title>
    <v-card-text v-html="page.body">
    </v-card-text>
  </v-card>
</template>

<script>
  export default {
    async asyncData({route}) {
      let page = await import(`~/content${route.path}.md`);
      return {
        page: {
          ...page.attributes,
          body: page.html
        }
      };
    }
  }
</script>
