<template>
  <v-toolbar-items>
    <v-btn
      v-for="(site, i) in externalSites"
      :key="i"
      :icon="site.icon != null"
      :href="site.href"
      :to="site.to"
      :target="site.target"
      :color="site.color"
      flat

    >
      <v-tooltip bottom>
        <template v-slot:activator="{ on }">
          <v-icon v-if="site.icon" v-on="on"> {{ site.icon }}</v-icon>
          <p v-else v-on="on">{{ site.name }}</p>
        </template>
        <span>{{ site.name }}</span>
      </v-tooltip>
    </v-btn>
  </v-toolbar-items>
</template>

<script>
  export default {
    props: ['externalSites']
  }
</script>

