<template>
  <nuxt-link to="/">
    <v-img
      alt="betterwithboi"
      src="/betterwithboi.png"
      contain
      transition="scale-transition"
      :height="size"
      :width="size"
    />
  </nuxt-link>
</template>

<script>
  export default {
    props: ['size']
  }
</script>
<style>
  .Logo {
    transform: rotateY(560deg);
    animation: turn 3.5s ease-out forwards 1s;
  }

  @keyframes turn {
    100% {
      transform: rotateY(0deg);
    }
  }
</style>
