<template v-slot:extension>
  <v-tabs v-model="currentTab" fixed-tabs color="transparent">
    <v-tabs-slider></v-tabs-slider>
    <v-tab v-for="(tab, i) in tabs" :key="i" :to="tab.to" class="primary--text">
      <v-tooltip bottom>
        <template v-slot:activator="{ on }">
          <v-container fluid fill-height class="pa-0 justify-center" v-on="on" >
            <v-icon v-if="tab.icon">{{ tab.icon }}</v-icon>
            <p v-else>{{ tab.name }}</p>
          </v-container>
        </template>
        <span>{{ tab.name }}</span>
      </v-tooltip>
    </v-tab>
  </v-tabs>
</template>

<script>
  export default {
    props: ['tabs'],
    data: () => ({
      currentTab: null
    })
  }
</script>
