<template>
  <v-fab-transition>
    <v-btn
      v-show="fab"
      v-scroll="onScroll"
      color="red"
      fab
      icon
      absolute
      bottom
      left
      small
      fixed
      class="ma-3 text-xs-center"
      @click="toTop"
    >
      <v-icon style="height:auto;">fa-chevron-up</v-icon>
    </v-btn>
  </v-fab-transition>
</template>

<script>
export default {
  data: () => ({
    fab: false
  }),
  methods: {
    toTop: function() {
      this.$router.push({ hash: '' })
      this.$vuetify.goTo(0)
    },
    onScroll() {
      if (typeof window === 'undefined') return
      const top = window.pageYOffset || document.documentElement.offsetTop || 0
      this.fab = top > 300
    }
  }
}
</script>
