<template>
  <v-app dark>

    <v-toolbar
      class="pt-3"
      fixed
      app
      tabs
      clipped-left
      clipped-right
      height="56em"
    >
      <logo :title="title" size="5em"></logo>
      <v-toolbar-title class="hidden-xs-only" v-text="title"></v-toolbar-title>
      <v-spacer></v-spacer>

      <ExternalSites :externalSites="externalSites"></ExternalSites>

      <template v-slot:extension>
        <tabs :tabs="tabs"></tabs>
      </template>

    </v-toolbar>

    <v-content>
      <v-container fluid fill-height>
        <v-layout justify-center align-center>
          <v-flex xs12 sm10 md7 lg7 fill-height>
            <nuxt/>
          </v-flex>
        </v-layout>
      </v-container>
      <top></top>
    </v-content>
  </v-app>
</template>

<script>
  import Logo from '~/components/Logo.vue'
  import Top from '~/components/Top.vue'
  import Tabs from '~/components/Tabs.vue'
  import ExternalSites from '~/components/ExternalSites.vue'

  export default {
    components: {
      Logo,
      Top,
      Tabs,
      ExternalSites
    },
    data: () => ({
      title: 'Better With Mods',

      externalSites: [
        {
          name: 'CurseForge',
          href: 'https://www.curseforge.com/minecraft/mc-mods/bwm-suite',
          icon: 'fa-download',
          // color: 'yellow darken-2',
          target: '_blank'
        },
        {
          name: 'Discord',
          href: 'https://discord.betterwithmods.com',
          icon: 'fab fa-discord',
          // color: 'blue darken-2',
          target: '_blank'
        },
        {
          name: 'Gitlab',
          href: 'https://gitlab.com/BetterWithMods/1.13/betterwithmods',
          icon: 'fab fa-gitlab',
          target: '_blank',
          // color: 'orange darken-3'
        },
        {
          name: 'Trello',
          href: 'https://trello.com/betterwithmods',
          icon: 'fab fa-trello',
          target: '_blank'
        }
      ],

      tabs: [
        {
          name: 'Home',
          icon: 'fa-home',
          to: '/'
        }
        ,
        {
          name: 'Arcanium',
          to: '/tabs/arcanium',
          icon: 'fa-hat-wizard'
        },

        {
          name: 'Mechanist',
          to: '/tabs/mechanist',
          icon: 'fa-cogs'
        },

        {
          name: 'Phenomenons',
          to: '/tabs/phenomenons',
          icon: 'fa-cloud-moon-rain'
        },
        {
          name: 'Vitality',
          to: '/tabs/vitality',
          icon: 'fa-heartbeat'
        },
        {
          name: 'FAQ',
          to: '/tabs/faq',
          icon: 'fa-question-circle'
        },
      ]
    }),

    computed: {
      year: function () {
        return new Date().getFullYear()
      },
      columns: function () {
        return this.$vuetify.breakpoint.smAndDown ? 12 : 10;
      }
    }
  }
</script>
