<template>
  <v-card height="100%">
    <v-card-title>
      <span class=" font-weight-bold display-1">{{ desc.title }}</span>
    </v-card-title>
    <v-card-text v-html="desc.body">
    </v-card-text>
  </v-card>
</template>

<script>

  export default {
    async asyncData() {
      let desc = await import(`~/content/description.md`);
      return {
        desc: {
          ...desc.attributes,
          body: desc.html
        }
      };
    }
  }
</script>
