<h2>Better With Mods Suite</h2>
<p>The Better With Mods Suite is a collection of mods based around extending and enhancing the experience of the
  Minecraft world. Focusing on improving the game with tools of emergent behavior, additional content and lore.<br/>In
  the process of this, all of the features are made highly accessible and configurable for players and modpack makers
  alike change and manipulate the mods to their choosing.</p>
<h2>Mechanist</h2>
Mechanist focuses on the expansion of the tech tree:
<ul>
  <li><span>Additional redstone devices, such as the Advanced Dispenser,
  Detector and the Hibachi. </span></li>
  <li><span>The introduction of mechanical power, a system for harnessing the rotation of windmills or waterwheels to power new
  machines through gearboxes and axles. </span></li>
  <li><span>Focus on automation with utility blocks that make mob traps and fully automatic crop farms closer to the original
  style of Minecraft.</span></li>

</ul>
<p>See the rest of the suite at their respective projects or on <a href="https://www.betterwithmods.com">our website</a>:
</p>
<ul>
  <li><a href=" https://minecraft.curseforge.com/projects/bwm-suite/">Full Suite</a></li>
  <li><a href=" https://minecraft.curseforge.com/projects/bwm-arcanium/">Arcanium</a></li>
  <li><a href=" https://minecraft.curseforge.com/projects/bwm-phenomenons/">Phenomenons</a></li>
  <li><a href=" https://minecraft.curseforge.com/projects/bwm-vitality/">Vitality</a></li>
  <li><a href=" https://minecraft.curseforge.com/projects/bwm-core/">Core</a></li>
</ul>
<p>&nbsp;</p>
<h4>Installation Instructions:</h4>
<ul>
  <li>Install using Twitch Launcher</li>
  <li>or download the jar from the Curseforge and add the `mods/` folder in your minecraft forge instance.</li>
</ul>
